<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="dao.daoInterface">
   <insert id="insert_BookMark" parameterType="bookmark">
      insert into bookmark values(#{boardNo}, #{user_index})
   </insert>
   
   <delete id="delete_BookMark" parameterType="bookmark">
      delete from bookmark where boardNo=#{boardNo}
   </delete>
   
   <select id="select_BookMark" parameterType="bookamrk" resultType="bookmark">
      select * from bookmark where (boardNo=#{boardNo} and user_index=#{user_index})
   </select>
   

</mapper>