<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.daoInterface">

	<insert id="insert_User" parameterType="user">
	INSERT INTO user VALUES(0, #{user_id}, #{password}, #{nickname}, #{star_point}, #{do_count})
	</insert>

	<update id="update_User" parameterType="user">
	UPDATE user SET password = #{password}, nickname = #{nickname}, star_point = #{star_point},
	do_count = #{do_count} WHERE user_index = #{user_index}  
	</update>

	<delete id="delete_User" parameterType="int">
	DELETE FROM user WHERE user_index = #{user_index}
	</delete>

	<select id="select_User" parameterType="int" resultType="user">
	SELECT * FROM user WHERE user_index = #{user_index}
	</select>
</mapper>